/*INICIALIZACIÓN*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*COLUMNAS FLEXIBLES*/
.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flex-container>*{
	min-width: 200px;
}
.flex1{flex: 1}
.flex2{flex: 2}
.flex3{flex: 3}
.flex4{flex: 4}
.flex5{flex: 5}
.flex3{flex: 6}
.flex4{flex: 7}
.flex8{flex: 8}

/*HEADER*/
#logo{
	max-width: 30%;
}
#cabecera{
	background-image: url('../img/cabecera.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecera{
	align-content: center;	
}
#dLogin{
	margin-left: auto;
}
#dLogin *{
	display: inline-block;
}
.migas{
	text-decoration: none;
	color: darkblue;
	
}
.buscar{
	width: 24px;
	height: 24px;
	filter: drop-shadow( 2px 2px 1px #666 );
}
.navegacion{
	margin-left: 0.5%;
	margin-top: 0.5%;
	display: inline-block;
}
.navegacion menu li{
	display: inline-block;
	list-style-type: none;
	margin-right: 1%;
}
.item-menu{	
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 2px 3px;
	border-radius: 5px;
	cursor: pointer;
	filter: drop-shadow( 2px 2px 1px #666 );
}
.no-actual{
	background-color: rgb(50,150,255);
}
.no-actual:hover {
  background-color: rgb(62, 142, 65);
}
.actual{
	pointer-events: none;
	background-color: rgb(62, 142, 65);
}
.actual:hover {
  background-color: rgb(170,150,255);
}
.subitem-menu{
	background-color: rgb(50,150,255);
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 2px 3px;
	border-radius: 5px;
	cursor: pointer;
}
.padre{
	margin-left: 8%;
}
.hijo{
	margin-left: 15%;
}
#iBuscar{
	margin-bottom: 10px;
}

/*INDEX*/
.modal {
  /*display: flex;*/
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.contenido-modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}
#mensaje {
	color: red;
}

/*REGISTRO*/
.dRegistro{
	margin-top: 2%;
	margin-left: 25%;
}
.lRegistro{
	display:inline-block;
	min-width: 80px;
	margin-top: 5px;
}
#repass{
	margin-left: 84px;
}
.boton{
	display: inline-block;
	margin-top: 8px;
	min-width: 57px;
	min-height: 22px;
	background-color: rgb(50,150,255);
	color: white;
	border-radius: 3px;
}
#aceptar{
	margin-left: 90px;
}