figure.grande{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(60,60,60,0.7);
	margin: 0px;
	padding: 5%;
	text-align: center;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}
figure.grande img{
	height: 90%;
}
.cuadrar-imagen{
	aspect-ratio: 1 / 1; 
	object-fit: cover;
}
.galeria{
    padding: 0px 2px;
    margin: 8px 8px;
}
.marco{
    position: relative; 
    background-color: rgba(221, 218, 218, 0.2); 
    backdrop-filter: blur(8px);
    border-radius: 5px;
}
.galeria figure img{
    width: 98%;
}